@model List<ContractModel>
@{
    ViewData["Title"] = "Contracts";
}

@*<h2>Contracts</h2>*@

@if (Model != null && Model.Any())
{
    <div class="row">
        <h1>Students & Contracts</h1><br />
        <table class="table">
            <thead>
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Student Surname
                </th>
                <th>
                    Contract Kind Name
                </th>
                <th>
                    Contract Date
                </th>
                <th>
                    Contract Sum
                </th>
                <th>
                    Payment Date
                </th>
                <th>
                    Payment Sum
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.StudentName
                    </td>
                    <td>
                        @item.StudentSurname
                    </td>
                    <td>
                        @item.ContractKindName
                    </td>
                    <td>
                        @item.ContractDate
                    </td>
                    <td>
                        @item.ContractSum
                    </td>
                    <td>
                        @item.PaymentDate
                    </td>
                    <td>
                        @item.PaymentSum
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}



